:root{
    --accent: #ee1c25;
    --chiaro: #f7f7f7;
}
body {
    background-color: var(--chiaro); 
    font-size: 12px; 
}
h1{
    color: var(--accent);
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
}
.lavorazione{
    color: dimgrey;
    border-color: grey;
    border-style: dotted;
}
.navbar-md-brand{
    font-size: 0.99rem;
}
.bg-avorio{
    background-color: rgb(238, 250, 196);
}
.txt-chiaro{
    color: var(--chiaro) !important;
}
.txt-accent{
    color: var(--accent) !important;
}
.txt-green{
    color: rgba(0, 128, 0, 0.678) !important;
}
.bg-green{
    background-color: rgba(177, 218, 177, 0.171) !important;
}
.bg-red{
    background-color: rgba(218, 177, 177, 0.173) !important;
}
.navbar-dark {
    background-color: #212529 !important;
}
.container-max{
    max-width: 1140px !important;
}
.div-cubo{
    height: 40px;
    width: 40px;
    color: var(--chiaro) !important;
    border: 1px solid var(--accent);
    background-color: transparent !important;
}
.div-rett{
    max-height: 60px;
    max-width: 90px;
    border: 2px solid black;
    background-color: transparent !important;
    padding: auto;
}
.shadow-dark{
    box-shadow: 4px 4px 5px black;
}
.shadow-gray{
    box-shadow: 4px 4px 5px rgba(120, 120, 120, 0.462);
}
.shadow-h-none:hover{
    transition: 0.3s;
    box-shadow:none;
    // background-color: rgba(238, 28, 37, 0.15);
}
.header{
    background-image:  url(/media/headerDesk.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 1;
}
.index-box{ 
    height: 50px;
    width: 50px;
    color: var(--chiaro) !important;
    border-radius: 50%;
    border-color:var(--accent);
    background-color:var(--accent);
    text-align: center;
    padding-left: 0.8rem !important;
}

.btn-ppp{
    border: 3px solid var(--accent);
    min-width: 170px;
    max-width: 400px;
    padding: 10px;
    color: var(--chiaro);
    background-color: transparent;
    
}
.btn-pppSearch{
    border: 1px solid var(--accent);
    padding: 4px;
    color: var(--chiaro);
    background-color: transparent;
}
.btn-q{
    width: 30px;
    height: 30px;
    box-shadow: 4px 4px 5px rgba(120, 120, 120, 0.462);
    border-radius: 0 !important;
    padding: 0.25rem !important;
}
.btn-r{
    box-shadow: 4px 4px 5px rgba(120, 120, 120, 0.462);
    border-radius: 0 !important;
    padding: 0.25rem !important;
}
.ms-negative{
    margin-left: -0.5rem;
}

/*the container must be positioned relative:*/
.autocomplete {
    position: relative;
    display: block;
  }
  
  input {
    // border: 1px solid transparent;
    // background-color: #f1f1f1;
    // padding: 10px;
    // font-size: 16px;
  }
  
  input[type=text] {
    // background-color: #f1f1f1;
    width: 100%;
  }
  
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
  }
  
  .autocomplete-items {
    position: absolute;
    // border: 1px solid #d4d4d4;
    // border-bottom: none;
    // border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }



@media ( min-width: 576px) {
    .navbar-md-brand{
        font-size: 1.25rem;
    }
    body {
        font-size: 14px; 
    }
}
@media ( min-width: 992px) {
    .card-h-fixed{
        height: 655px;
    }
    
}

