:root{
    --accent: #ee1c25;
    --chiaro: #f7f7f7;
}
body {
   background-color: var(--chiaro); 
   font-size: 12px; 
}
h1{
    color: var(--accent);
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-md-brand{
    font-size: 0.99rem;
}
.bg-avorio{
    background-color: rgb(238, 250, 196);
}
.txt-chiaro{
    color: var(--chiaro) !important;
}
.txt-accent{
    color: var(--accent) !important;
}
.navbar-dark {
    background-color: #212529 !important;
}
.container-max{
    max-width: 1140px !important;
  }
.div-cubo{
    height: 40px;
    width: 40px;
    color: var(--chiaro) !important;
    border: 1px solid var(--accent);
    background-color: transparent !important;
}
.div-rett{
    max-height: 60px;
    max-width: 90px;
    border: 2px solid black;
    background-color: transparent !important;
    padding: auto;
}
.shadow-dark{
    box-shadow: 4px 4px 5px black;
  }
  .shadow-gray{
    box-shadow: 4px 4px 5px rgba(120, 120, 120, 0.462);
  }
  .shadow-h-none:hover{
    transition: 0.3s;
    box-shadow:none;
    // background-color: rgba(238, 28, 37, 0.15);
  }
.header{
    background-image:  url(/media/headerDesk.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
    height: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 1;
}

.btn-ppp{
    border: 3px solid var(--accent);
    min-width: 170px;
    max-width: 400px;
    padding: 10px;
    color: var(--chiaro);
    background-color: transparent;
   
}
.btn-pppSearch{
    border: 1px solid var(--accent);
    padding: 4px;
    color: var(--chiaro);
    background-color: transparent;
}


@media ( min-width: 576px) {
.navbar-md-brand{
    font-size: 1.25rem;
}
body {
 font-size: 14px; 
 }
}
@media ( min-width: 992px) {
    .card-h-fixed{
        height: 655px;
    }

    }
    
    